.wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;

  &[data-with-border='true'] {
    border-bottom: 1px solid var(--color-border-primary);
  }
}

.main {
  --list-item-padding: 0;
}

.displayName {
  // Spacing for badge
  margin-inline-end: 6px;
}

.badge {
  // Sort out vertical alignment next to name
  vertical-align: -4px;
}

.handle {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.button {
  align-self: start;
}

.statsRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
}

.moreButton {
  border: 1px solid var(--background-border-color);
  border-radius: 4px;
  padding: 4px;
  color: #606085;

  &:hover,
  &:focus,
  &:active {
    color: #717198;
    background-color: #60608526
  }
}

.verifiedBadge {
  align-self: end;
}

.bio {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;

  :any-link {
    color: var(--color-text-status-links);

    &:hover {
      text-decoration: none;
    }
  }
}
